---
import { ArticleList } from '../components/business/ArticleList';
import { ArticleService } from '../services/ArticleService';
import { useConstsWithRuntime } from '../consts';

import Page from '../components/layout/Page.astro';

const { SITE_TITLE, SITE_DESCRIPTION, SITE_KEYWORDS } = useConstsWithRuntime(Astro.locals.runtime);

const ITEMS_PER_PAGE = 10;
const articleService = new ArticleService(Astro.locals.runtime.env.DB);
const articles = await articleService.list();
const sortedArticles = articles.sort((a, b) =>
  new Date(b.createdDate).getTime() - new Date(a.createdDate).getTime()
);

const initialArticles = sortedArticles.slice(0, ITEMS_PER_PAGE).map(({ id, title, summary, createdDate, updatedDate, slug }) => ({
  id,
  title,
  summary,
  createdDate,
  updatedDate,
  slug,
  meta: {
    createdDate,
    updatedDate,
  },
}));

const hasMore = articles.length > ITEMS_PER_PAGE;
const total = articles.length;
---

<Page>
  <Fragment slot="meta">
    <title>{SITE_TITLE}</title>
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="keywords" content={SITE_KEYWORDS} />
  </Fragment>
	<ArticleList client:load initialArticles={initialArticles} initialHasMore={hasMore} total={total} />
</Page>
